* {
	margin: 0;
	padding: 0;
}

body{
	margin:0;
}

div{
	width:10vmin;
	height:10vmin;
	float:left;
	text-align:center;
	line-height:300px;
	font-family:Arial;
}

.black{
	background-color:black;
	color:white;
}

.white{
	background-color:white;
	color:black;
}

.floating{
	clear:both;
}
