/*
Aufgabe: 5 - Bienenschwarm
Name: Jonas Fehrenbach
Datum: 29.04.2017
Matrikel: 254667

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

canvas{
	border: 4px solid black;
}