/*
Aufgabe: 6a - Interfaces: Assoziative Bienen
Name: Jonas Fehrenbach
Datum: 07.05.2017
Matrikel: 254667

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

canvas{
	border: 4px solid black;
}